<%= form_with(model: dharma_talk) do |form| %>
  <% if dharma_talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dharma_talk.errors.count, "error") %> prohibited this dharma_talk from being saved:</h2>

      <ul>
        <% dharma_talk.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :speaker_id %>
    <%= form.text_field :speaker_id %>
  </div>

  <div class="field">
    <%= form.label :location_id %>
    <%= form.text_field :location_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
